@{
    ViewBag.Title = "Home Page";
}




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://connectors.tableau.com/libs/tableauwdc-2.3.latest.js" type="text/javascript"></script>
<script defer src="~/Scripts/js.cookie.js"></script>
<script src="~/Scripts/js.cookie.js"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>

<script>
    $(document).ready(function () {
        //$("#btnGetAllData").click(function () {
        //    var usuario = $("#usuario").val();
        //    var password = $("#password").val();
        //    console.log("Usuario: " + usuario);
        //    console.log("Password: " + password);

        //    //Crear Fechas en C#

        //    var fechaHoy = "";
        //    var fechaTresAnos = "";
        //    var hoy = "";
        //    var tresAnios = "";
        //    $.ajax({
        //        url: '../Home/ControlFechasHoyYTresAnos/',
        //        async: false,
        //        data: { fechaHoy: fechaHoy, fechaTresAnos: fechaTresAnos },
        //        type: "POST",
        //        success: function (resp) {
        //            if (resp != "") {
        //                var fecha = resp.split(';');
        //                hoy = fecha[0];
        //                tresAnios = fecha[1];
        //            }
        //        },
        //        error: function (err) {
        //            console.log(err);
        //        }
        //    });

        //    console.log("Fecha actual: " + hoy);
        //    console.log("Fecha 3 años atras: " + tresAnios);

        //    //Convertir a formato JavaScript
        //    var dateMomentObject = moment(hoy, "DD/MM/YYYY"); // 1st argument - string, 2nd argument - format
        //    var FechaHoy = dateMomentObject.toDate(); // convert moment.js object to Date object
        //    var dateMomentObject = moment(tresAnios, "DD/MM/YYYY"); // 1st argument - string, 2nd argument - format
        //    var Fecha3Anos = dateMomentObject.toDate(); // convert moment.js object to Date object

        //    console.log("Fecha actual2: " + FechaHoy);
        //    console.log("Fecha 3 años atras2: " + Fecha3Anos);

        //    while (Fecha3Anos <= FechaHoy) {

        //        var fechaanterior = tresAnios;
        //        //Sumar 7 días en C#
        //        $.ajax({
        //            url: '../Home/Sumar7Dias/',
        //            async: false,
        //            data: { tresAnios: tresAnios },
        //            type: "POST",
        //            success: function (resp) {
        //                if (resp != "") {
        //                    tresAnios = resp;
        //                }
        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        });
        //        var fechacomodin = tresAnios;
        //        console.log("Pasaron 7 días: " + tresAnios);
        //        //Convertir a formato JavaScript
        //        dateMomentObject = moment(tresAnios, "DD/MM/YYYY"); // 1st argument - string, 2nd argument - format
        //        Fecha3Anos = dateMomentObject.toDate(); // convert moment.js object to Date object


        //        //Cabmiar a formato adecuado para consulta
        //        $.ajax({
        //            url: '../Home/CambiarFormato/',
        //            async: false,
        //            data: { fechaanterior: fechaanterior, fechacomodin: fechacomodin },
        //            type: "POST",
        //            success: function (resp) {
        //                if (resp != "") {
        //                    var fecha = resp.split(';');
        //                    fechaanterior = fecha[0];
        //                    fechacomodin = fecha[1];
        //                }
        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        });

        //        console.log("Se está ejecutando la consulta entre los días: " + fechaanterior + " Y " + fechacomodin);
        //        $.ajax({
        //            url: '../Home/ConsultaApiDemo/',
        //            async: false,
        //            data: { usuario: usuario, password: password, fechaanterior: fechaanterior, fechacomodin: fechacomodin },
        //            type: "POST",
        //            success: function (resp) {
        //                // data is your result from controller

        //                if (resp != "Error: 400 - Bad Request") {
        //                    const respuesta = JSON.parse(resp);
        //                    //console.log("RESPUESTA");
        //                    //console.log(respuesta);
        //                    //console.log("--- Ultimo todo!! ---");
        //                    var feat = respuesta;
        //                    var tableData = [];
        //                    //console.log("FEAT");
        //                    //console.log(feat);
        //                    //Poner lógica del día acá:
        //                    for (var i = 0, len = feat.length; i < len; i++) {

        //                        // Registro base|
        //                        var venta = {
        //                            "fecha": feat[i].fecha,
        //                            "sku_b2b": feat[i].sku_b2b,
        //                            "local_b2b": feat[i].local_b2b,
        //                            "holding": feat[i].holding,
        //                            "ventas": feat[i].ventas,
        //                            "unidades": feat[i].unidades,
        //                            "costo": feat[i].costo
        //                        };
        //                        tableData.push(venta);
        //                        // Abonos libres
        //                    }
        //                    //¿Qué pasa si consulto una fecha más grande a la de hoy?

        //                    //Ejecutar x veces y después armo la tabla:
        //                    // Agregar al arreglo principal
        //                    //table.appendRows(tableData);

        //                    //doneCallback();
        //                }
        //                else {
        //                    console.log("RESP");
        //                    console.log(resp);
        //                }


        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        });
        //        //Sumar 1 día
        //        $.ajax({
        //            url: '../Home/SumarUnDia/',
        //            async: false,
        //            data: { fechacomodin: fechacomodin },
        //            type: "POST",
        //            success: function (resp) {
        //                if (resp != "") {
        //                    tresAnios = resp;
        //                }
        //            },
        //            error: function (err) {
        //                console.log(err);
        //            }
        //        });

        //    }
        //});
        $("#btnGetAllData").click(function () {
            console.log("Se hizo click!!");
            var token = $("#password").val();
            Cookies.set("TokenNotCo", token);
            tableau.password = token;

            tableau.connectionName = "NotCo Feed"; // This will be the data source name in Tableau
            tableau.submit(); // This sends the connector object to Tableau
        });
    });
</script>
<script src="~/Scripts/scriptInventory.js"></script>

<br />
<br />
<input name="usuario" id="usuario" hidden value="notapi" />
<input name="password" id="password" hidden value="notc.5405" />
<div class="row" style="text-align:center">
    <button class="btn-success" id="btnGetAllData" type="submit">Get All Data!</button>
</div>

